.app {
    width: 100vw;
    height: 100vh;
    background-color: beige;
    padding: 2rem;
    box-sizing: border-box;
}

.app__title {
    font-size: 10rem;
}

.clicker {
    background-color: silver;
    border: 3px solid black;
}